/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*---------------- 
    common styles
 -----------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

h1 {
    font-size: 48px;
    color: #18191F;
}


/*-----------------------
 header or banner styles
 ------------------------ */

.banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 102px;
    align-items: center;
    justify-items: center;
    background-color: #2D25A0;
    height: 677px;
}

.banner-container:hover .banner-image {
    transition: transform 1s ease-in-out;
    transform: scale(1.1);
}

.banner-title {
    font-size: 64px;
    color: #FFFFFF;
}

.banner-btn {
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    text-decoration: none;
}

.banner-btn span {
    margin-right: 8px;
}

.banner-image {
    width: 556.01px;
    height: 438px;
}


/*-------------------
 player-container styles 
 --------------------*/

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
    margin-bottom: 165px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 474px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-details {
    margin: 15px;
    margin-top: 0px;
}

.player-image,
.player-image img {
    width: 300px;
    height: 256px;
}

.player-info {
    width: 300px;
    height: 154px;
    color: #6C6C6C;
    margin-top: 16px;
}

.player-title {
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
}


/* Top Player Styles */

.top-player-heading {
    margin-left: 11%;
}

.top-player-heading hr {
    margin-right: 11%;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
}

.top-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-player-thumbnail img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.top-player-name p {
    font-size: 20px;
    color: #18191F;
    font-weight: bold;
}


/* Trending news styles */

.trending-news {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 15px;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

#news-1-thumbnail,
#news-1-thumbnail {
    margin-top: -30px;
}

.news-title {
    font-size: 12px;
    color: #9e9999;
}

.news-heading {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #18191F;
}


/* Footer styles */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 158px;
    padding-bottom: 20px;
    margin-bottom: 63px;
}

footer img {
    width: 483.87px;
    height: 110px;
}

.icon-container img {
    width: 32px;
    height: 32px;
    margin: 14px;
}

footer p {
    font-size: 18px;
    color: #000000;
}


/* Media Querry */


/* Mobile Devices */

@media only screen and (max-width:688px) {
    body,
    .container {
        width: 100%;
    }
    .banner-title {
        font-weight: bold;
        font-size: 36px;
    }
    .banner-image {
        width: 329px;
        height: 259.17px;
    }
    .banner-container,
    .players,
    .top-players,
    .trending-news {
        grid-template-columns: repeat(1, 1fr);
    }
    #news-1-thumbnail {
        margin-top: 0px;
    }
    footer img {
        width: 60%;
    }
}


/* Tablet Devices  */

@media only screen and (min-width:688px) and (max-width:992px) {
    body,
    .container {
        width: 100vw;
    }
    .banner-title {
        font-weight: bold;
        font-size: 36px;
    }
    .banner-image {
        width: 329px;
        height: 259.17px;
    }
    .banner-container,
    .players,
    .top-players,
    .trending-news {
        grid-template-columns: repeat(2, 1fr);
    }
    #news-1-thumbnail {
        margin-top: 0px;
    }
    footer img {
        width: 60%;
    }
}